.side {
    width: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    background-size: 200% 100%;
    border-radius: 150px 30px 30px 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.toggle_left {
    transform: translateX(-100%);
    border-radius: 30px 150px 100px 30px;
    background-position: 100% 0;
}

.heading {
    margin-bottom: 0;
}

.text {
    text-align: center;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.button {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}