.add_card {
    background: rgba(52, 152, 219, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff; /* Make "+" sign more visible */
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.add_card:hover {
    transform: translateY(-5px);
}